.edit-form {
  box-sizing: border-box;
  border-radius: 10px;
  padding: 34px;
  margin: 0 19px;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  max-width: 430px;
  max-height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 425px) {
  .edit-form {
    padding: 25px 22px;
  }
}
