.edit-form__title {
  padding: 0;
  margin: 34px 36px 24px 36px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
}

@media screen and (max-width: 425px) {
  .edit-form__title {
    font-size: 18px;
    line-height: 22px;
    margin: 25px 22px 44px 22px;
  }
}
